<tr id="<%= dom_id url %>">
  <td>
    <a href="<%= url.long_url %>" target="_blank">
    <%= url.short_url %>
    </a>
  </td>

  <td>
    <%= url.long_url %>
  </td>

  <td>
    <%= url.description %>
  </td>

  <td>
      <%= link_to "View & Edit", url %>
  </td>




</div>
